@model IEnumerable<ProjetoContaBancaria.Web.Application.Pessoa.Model.PessoaModel>

@{
    ViewBag.Title = "Pessoas";
}

<h2>Pessoas</h2>

<p>
    @Html.ActionLink("Cadastrar", "Cadastrar")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Num_CpfFormatado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nom_Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nom_Sobrenome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Dat_DataNascimentoFormatada)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ind_Sexo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Vlr_RendaFormatada)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Num_NumeroConta)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Num_CpfFormatado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nom_Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nom_Sobrenome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Dat_DataNascimentoFormatada)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ind_Sexo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Vlr_RendaFormatada)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Num_NumeroContaFormatada)
        </td>
        <td>
            @Html.ActionLink("Alterar", "Alterar", new { id=item.Num_CpfFormatado }) |
            @Html.ActionLink("Realizar Operação", "Operacoes", new { id = item.Num_NumeroContaFormatada }) |
            @Html.ActionLink("Excluir", "Excluir", new { id = item.Num_CpfFormatado })
        </td>
    </tr>
}

</table>
